body {
  font-family: futura, 'helvetica neue';
  font-size: 18px;
  font-weight: 200;
  background-color: #eee;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.game {
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 0;
  background-color: pink;
}

section.game .canvases-container {
  width: 100%;
  border: 2px #333 dashed;
}

section.meta {
  z-index: 2;
  margin: 1em;
  padding: 2em;  
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

a:link {
  color: #0cfb6c;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #09c153;
}

.title {
  font-family: futura;
  font-weight: 200;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}
